@page
@model HistoryModel
@{
    ViewData["Title"] = "History";
}

<div class="bar bar-header bar-dark">
    <span class="title">Heart history</span>
    <div class="button-content pull-right">
        <button class="button button-clear" onclick="location.href='Index'">
            <img src="./img/close.png" class="icon" />
        </button> 
    </div>
</div>
<div class="main-container">
    <!--
    <div class="head-content">
        <form id="searchStudent">
            <div class="search-bar">
                <input type="text" name="keyword" id="keyword" placeholder="Type ID or fullname">
                <button class="btn-search" type="submit">
                <img src="./img/search.png" class="icon">
                </button>
            </div>
        </form>
    </div>
    -->
    <!-- Data table -->
    <div class="table">
        <div class="table-body">
            <div class="table-row">
                <div class="td col-1">
                    <div class="row-title">
                        <span class="title">70 bpm</span>
                        <span class="sub-title">Phuong Dang</span>
                    </div>
                    <div class="row-info">
                        <span>04-06-1984 20:00</span>
                        <span>Age: 37</span>
                    </div>
                </div>
                <div class="td col-2">
                    <button class="btn-delete" type="button" onclick="DeleteRow(1)">
                        <img src="./img/account.png" />
                    </button>
                </div>
            </div>
            <div class="table-row">
                <div class="td col-1">
                    <div class="row-title">
                        <span class="title">90 bpm</span>
                        <span class="sub-title">Phuong Dang</span>
                    </div>
                    <div class="row-info">
                        <span>04-06-1984 10:00</span>
                        <span>Age: 37</span>
                    </div>
                </div>
                <div class="td col-2">
                    <button class="btn-delete" type="button" onclick="DeleteRow(1)">
                        <img src="./img/account.png" />
                    </button>
                </div>
            </div>
            <div class="table-row">
                <div class="td col-1">
                    <div class="row-title">
                        <span class="title">88 bpm</span>
                        <span class="sub-title">Phuong Dang</span>
                    </div>
                    <div class="row-info">
                        <span>04-05-1984 18:00</span>
                        <span>Age: 37</span>
                    </div>
                </div>
                <div class="td col-2">
                    <button class="btn-delete" type="button" onclick="DeleteRow(1)">
                        <img src="./img/account.png" />
                    </button>
                </div>
            </div>
            <div class="table-row">
                <div class="td col-1">
                    <div class="row-title">
                        <span class="title">72 bpm</span>
                        <span class="sub-title">Phuong Dang</span>
                    </div>
                    <div class="row-info">
                        <span>04-02-1984 18:00</span>
                        <span>Age: 37</span>
                    </div>
                </div>
                <div class="td col-2">
                    <button class="btn-delete" type="button" onclick="DeleteRow(1)">
                        <img src="./img/account.png" />
                    </button>
                </div>
            </div>
            <div class="table-row">
                <div class="td col-1">
                    <div class="row-title">
                        <span class="title">74 bpm</span>
                        <span class="sub-title">Phuong Dang</span>
                    </div>
                    <div class="row-info">
                        <span>04-01-1984 18:00</span>
                        <span>Age: 37</span>
                    </div>
                </div>
                <div class="td col-2">
                    <button class="btn-delete" type="button" onclick="DeleteRow(1)">
                        <img src="./img/account.png" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <button type="button" id="btn-voice" class="btn-voice">
            <img src="./img/micro.png" class="icon" />
        </button>
        <div class="text-content">
            <p class="title">How are you feeling?</p>
            <p class="sub-title">For example, say "Dizzy"</p>
        </div>
    </div>
    <div class="bottom-content-button">
        <button type="button" id="btn-recycle" class="btn-bottom" onclick="location.href='history.html';"><img src="./img/recycle.png"></button>
    </div>
</div> 